<div class="article">
    <input type="text" name="ckey" placeholder="CKey" />
    <table class="ban-table">
        <tr>
            <th>CKey</th>
            <th>Admin</th>
            <th>Duration</th>
            <th>Bantime</th>
            <th>Expires</th>
            <th>Adminwho</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>Permanent</td>
            <td>No</td>
            <td>R3Valkyrie</td>
            <td>Permaban</td>
        </tr>

    </table>
</div>