<div class="article ban-search">
    <input type="text" name="ckey" placeholder="CKey" />

    <span class="ban-span">
    <input type="checkbox" class="ban-checkbox" name="job-bans" value="job-bans" checked/>
    <label for="job-bans" >Job Bans</label>
    </span>
    <span class="ban-span">
    <input type="checkbox" class="ban-checkbox" name="standard-bans" value="standard-bans" checked/>
    <label for="standard-bans" >Standard Bans</label>
    </span>
</div>
<div class="article ban-container" >

    <table class="ban-table" cellspacing="0">
        <tr>
            <th>CKey</th>
            <th>Admin</th>
            <th>Duration</th>
            <th>Expires</th>
            <th>Job(s)</th>
            <th>Reason</th>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Repeated instances of griefing.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>14D</td>
            <td>10-24-18</td>
            <td>Head of Security</td>
            <td>Waterboarded the clown for saying his nose looked funny.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>2D</td>
            <td>Expired</td>
            <td>Research Director</td>
            <td>Turned two assistants into siamese twins.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Broke into the chief engineer's office to paint Poly blue.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>7D</td>
            <td>Expired</td>
            <td>N/A</td>
            <td>Threw the chef in the grinder as an extremist protest against meat products.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Put a bag of holding inside another bag of holding.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Repeated instances of griefing.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>14D</td>
            <td>10-24-18</td>
            <td>Head of Security</td>
            <td>Waterboarded the clown for saying his nose looked funny.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>2D</td>
            <td>Expired</td>
            <td>Research Director</td>
            <td>Turned two assistants into siamese twins.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Broke into the chief engineer's office to paint Poly blue.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>7D</td>
            <td>Expired</td>
            <td>N/A</td>
            <td>Threw the chef in the grinder as an extremist protest against meat products.</td>
        </tr>
        <tr>
            <td>R3Valkyrie</td>
            <td>R3Valkyrie</td>
            <td>Permanent</td>
            <td>No</td>
            <td>N/A</td>
            <td>Put a bag of holding inside another bag of holding.</td>
        </tr>

    </table>
</div>