<div class="article announce">
    <div class="avatar">
        <img class="placeholder">
    </div>
    <div class="announce-content">
        <h1>Лорем ипсум долор сит амет</h1>
        <h2>R3Valkyrie - MM/DD/YY </h2>
        <p>Нумяуам инермис омнесяуе нец еу. Сед цу регионе цонвенире, про пурто мутат персиус еи. Еи про хабео еурипидис инцидеринт, медиоцрем цонсулату вис ид. Инсоленс елеифенд ассентиор еа хис. Ет либерависсе цонсеяуунтур усу, хас цу долорес рецтеяуе.</p>
        <p>
            Ut ac pulvinar mi, nec sollicitudin est. Aenean facilisis ex in nisi auctor, vel iaculis massa efficitur. Donec dignissim, lacus ac ornare posuere, magna sapien venenatis orci, vitae blandit augue urna et dui. Fusce a aliquam sem. Ut vitae volutpat neque. Phasellus imperdiet accumsan condimentum. Etiam condimentum est ac dui dignissim scelerisque. Proin aliquam mi et diam condimentum elementum.
        </p>
    </div>
</div>
<div class="article announce">
    <div class="avatar">
        <img class="placeholder">
    </div>

    <div class="announce-content">
        <h1>Иус суавитате диссентиет еи</h1>
        <h2>R3Valkyrie - MM/DD/YY </h2>
        <p>Алияуид инструцтиор ан цум, яуас аетерно нумяуам меа ет, популо губергрен перципитур ин меи. Легере легендос нец цу, иус не нисл лабитур, ех унум нибх нец. Пробо дицам ан про, нец еа дицит сигниферумяуе. Ет еос граеци адиписцинг, меа цу суммо популо перфецто.
        </p>
        <p>
            Pellentesque vestibulum, augue quis feugiat fermentum, nibh lectus tincidunt arcu, ultricies sodales lectus velit quis lectus. Proin dignissim orci eu est mattis blandit. Quisque lacinia erat neque. Duis malesuada, lorem et cursus suscipit, nibh purus facilisis sapien, eget fringilla dui tortor non lorem. Sed nec fringilla magna. Vivamus interdum convallis tempor. Donec molestie magna nisl, non varius risus vulputate in. Nulla ipsum sapien, ultrices sit amet orci et, porttitor congue arcu. Phasellus porta venenatis ex, at condimentum orci elementum sit amet. Etiam consectetur elit ut malesuada vehicula. Sed porttitor malesuada sollicitudin. Pellentesque eu sollicitudin odio. Aliquam quis enim eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur cursus, ligula vitae vulputate euismod, odio tellus malesuada tellus, vel bibendum est ante sed massa.
        </p>
    </div>
</div>
<div class="article announce">
    <div class="avatar" >
        <img class="placeholder" >
    </div>

    <div class="announce-content">
        <h1>Иус суавитате диссентиет еи</h1>
        <h2>R3Valkyrie - MM/DD/YY </h2>
        <p>Алияуид инструцтиор ан цум, яуас аетерно нумяуам меа ет, популо губергрен перципитур ин меи. Легере легендос нец цу, иус не нисл лабитур, ех унум нибх нец. Пробо дицам ан про, нец еа дицит сигниферумяуе. Ет еос граеци адиписцинг, меа цу суммо популо перфецто.
        </p>
        <p>
            Pellentesque vestibulum, augue quis feugiat fermentum, nibh lectus tincidunt arcu, ultricies sodales lectus velit quis lectus. Proin dignissim orci eu est mattis blandit. Quisque lacinia erat neque. Duis malesuada, lorem et cursus suscipit, nibh purus facilisis sapien, eget fringilla dui tortor non lorem. Sed nec fringilla magna. Vivamus interdum convallis tempor. Donec molestie magna nisl, non varius risus vulputate in. Nulla ipsum sapien, ultrices sit amet orci et, porttitor congue arcu. Phasellus porta venenatis ex, at condimentum orci elementum sit amet. Etiam consectetur elit ut malesuada vehicula. Sed porttitor malesuada sollicitudin. Pellentesque eu sollicitudin odio. Aliquam quis enim eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur cursus, ligula vitae vulputate euismod, odio tellus malesuada tellus, vel bibendum est ante sed massa.
        </p>
    </div>
</div>