<div class="article article-margin announce">
    <div class="user-wrapper">
        <div class="avatar">
            <img class="placeholder">
        </div>
        <h2>R3Valkyrie</h2>
        <br>
        <h3>Опубликовано <br>06/20/18</h3>

    </div>
    <div class="announce-content">
        <h1>Лорем ипсум долор сит амет</h1>
        <p>Нумяуам инермис омнесяуе нец еу. Сед цу регионе цонвенире, про пурто мутат персиус еи. Еи про хабео еурипидис инцидеринт, медиоцрем цонсулату вис ид. Инсоленс елеифенд ассентиор еа хис. Ет либерависсе цонсеяуунтур усу, хас цу долорес рецтеяуе.</p>
        <p>
            Ut ac pulvinar mi, nec sollicitudin est. Aenean facilisis ex in nisi auctor, vel iaculis massa efficitur. Donec dignissim, lacus ac ornare posuere, magna sapien venenatis orci, vitae blandit augue urna et dui. Fusce a aliquam sem. Ut vitae volutpat neque. Phasellus imperdiet accumsan condimentum. Etiam condimentum est ac dui dignissim scelerisque. Proin aliquam mi et diam condimentum elementum.
        </p>
    </div>
</div>
<div class="article article-margin announce">
    <div class="user-wrapper">
        <div class="avatar">
            <img class="placeholder">
        </div>
        <h2>R3Valkyrie</h2>
        <br>
        <h3>Опубликовано <br>06/20/18</h3>

    </div>
    <div class="announce-content">
        <h1>Лорем ипсум долор сит амет</h1>
        <p>Нумяуам инермис омнесяуе нец еу. Сед цу регионе цонвенире, про пурто мутат персиус еи. Еи про хабео еурипидис инцидеринт, медиоцрем цонсулату вис ид. Инсоленс елеифенд ассентиор еа хис. Ет либерависсе цонсеяуунтур усу, хас цу долорес рецтеяуе.</p>
        <p>
            Ut ac pulvinar mi, nec sollicitudin est. Aenean facilisis ex in nisi auctor, vel iaculis massa efficitur. Donec dignissim, lacus ac ornare posuere, magna sapien venenatis orci, vitae blandit augue urna et dui. Fusce a aliquam sem. Ut vitae volutpat neque. Phasellus imperdiet accumsan condimentum. Etiam condimentum est ac dui dignissim scelerisque. Proin aliquam mi et diam condimentum elementum.
        </p>
    </div>
</div>
<div class="article article-margin announce">
    <div class="user-wrapper">
        <div class="avatar">
            <img class="placeholder">
        </div>
        <h2>R3Valkyrie</h2>
        <br>
        <h3>Опубликовано <br>06/20/18</h3>

    </div>
    <div class="announce-content">
        <h1>Лорем ипсум долор сит амет</h1>
        <p>Нумяуам инермис омнесяуе нец еу. Сед цу регионе цонвенире, про пурто мутат персиус еи. Еи про хабео еурипидис инцидеринт, медиоцрем цонсулату вис ид. Инсоленс елеифенд ассентиор еа хис. Ет либерависсе цонсеяуунтур усу, хас цу долорес рецтеяуе.</p>
        <p>
            Ut ac pulvinar mi, nec sollicitudin est. Aenean facilisis ex in nisi auctor, vel iaculis massa efficitur. Donec dignissim, lacus ac ornare posuere, magna sapien venenatis orci, vitae blandit augue urna et dui. Fusce a aliquam sem. Ut vitae volutpat neque. Phasellus imperdiet accumsan condimentum. Etiam condimentum est ac dui dignissim scelerisque. Proin aliquam mi et diam condimentum elementum.
        </p>
    </div>
</div>