<div class="article">
    <table class="ban-table">
        <tr>
            <th>Director</th>
        </tr>
        <tr>
            <td>MisterDirectorMan</td>
        </tr>
    </table>
    <!-- Cut here -->
    <div class="lesser-manifest-container">
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Game Master</th>
            </tr>
            <tr>
                <td>Admin12323</td>
                <td>MantheMan</td>
                <td>careersrydal</td>
                <td>ethicsmystery</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Game Admin</th>
            </tr>
            <tr>
                <td>fluffyspoken</td>
                <td>Opaltorridon</td>
                <td>relativitysasketchewan</td>
                <td>linekolkata</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Admin</th>
            </tr>
            <tr>
                <td>kidsmobbs</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Admin Candidate</th>
            </tr>
            <tr>
                <td>harrywindy</td>
                <td>kolkata1666</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Wiki</th>
            </tr>
        </table>
    </div>
    <!-- And cut here -->
    <div class="lesser-manifest-container">
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Coder</th>
            </tr>
            <tr>
                <td>IWriteinAssemblyDx</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Mapper</th>
            </tr>
            <tr>
                <td>fuckBYDONDND3333</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Mentor</th>
            </tr>
            <tr>
                <td>mentorman</td>
                <td>howdoIopendoor</td>
                <td>stressed0ut</td>
                <td>mymanmentor</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Spriter</th>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Xenovisor</th>
            </tr>
            <tr>
                <td>iWatchaliumsTV</td>
            </tr>
        </table>
    </div>

</div>
<div class="article server-status">
    <div class="server-icon">
    </div>
    <div class="server-info">
        <h3>SERVER: ERIS GAMMA</h3>
        <h3>STATUS: ONLINE</h3>
        <h3>UPTIME: 12D 14H 23M</h3>
        <h3>DESC: Eris Gamma SS13 server.</h3>
    </div>
</div>


<div class="article server-status">
    <div class="server-icon offline">
    </div>
    <div class="server-info">
        <h3>SERVER: OTHER SERVER</h3>
        <h3>STATUS: OFFLINE</h3>
        <h3>UPTIME: 0D 0H 0M</h3>
        <h3>DESC: Server that's offline.</h3>
    </div>
</div>

