<div class="article">
    <table class="ban-table">
        <tr>
            <th>Director</th>
        </tr>
        <tr>
            <td>MisterDirectorMan</td>
        </tr>
    </table>
    <!-- Cut here -->
    <div class="lesser-manifest-container">
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Game Master</th>
            </tr>
            <tr>
                <td>Admin12323</td>
                <td>MantheMan</td>
                <td>careersrydal</td>
                <td>ethicsmystery</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Game Admin</th>
            </tr>
            <tr>
                <td>fluffyspoken</td>
                <td>Opaltorridon</td>
                <td>relativitysasketchewan</td>
                <td>linekolkata</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Admin</th>
            </tr>
            <tr>
                <td>kidsmobbs</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Admin Candidate</th>
            </tr>
            <tr>
                <td>harrywindy</td>
                <td>kolkata1666</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Wiki</th>
            </tr>
        </table>
    </div>
    <!-- And cut here -->
    <div class="lesser-manifest-container">
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Coder</th>
            </tr>
            <tr>
                <td>IWriteinAssemblyDx</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Mapper</th>
            </tr>
            <tr>
                <td>fuckBYDONDND3333</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Mentor</th>
            </tr>
            <tr>
                <td>mentorman</td>
                <td>howdoIopendoor</td>
                <td>stressed0ut</td>
                <td>mymanmentor</td>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Spriter</th>
            </tr>
        </table>
        <table class="ban-table lesser-manifest-table">
            <tr>
                <th>Xenovisor</th>
            </tr>
            <tr>
                <td>iWatchaliumsTV</td>
            </tr>
        </table>
    </div>

</div>
