<div class="article server-status">
    <div class="server-icon" >
    </div>
    <div class="server-info">
        <h3>SERVER: ERIS GAMMA</h3>
        <h3>STATUS: ONLINE</h3>
        <h3>UPTIME: 12D 14H 23M</h3>
        <h3>DESC: Eris Gamma SS13 server.</h3>
    </div>
</div>
<div class="article server-status">
    <div class="server-icon offline">
    </div>
    <div class="server-info">
        <h3>SERVER: OTHER SERVER</h3>
        <h3>STATUS: OFFLINE</h3>
        <h3>UPTIME: 0D 0H 0M</h3>
        <h3>DESC: Server that's offline.</h3>
    </div>
</div>