<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8" />
    <title>Eris Gamma - <%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.com/libraries/10up-sanitize.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
    <div class="header-wrapper">
        <img id="ru.svg" width="30">
        <img id="en.svg" width="30">
        <div class="nav" >
        <ul>
            <li><a href="./index.html" class="lang" key="home" <% if(htmlWebpackPlugin.options.title == 'Home'){ %> id="active" <% } %>>Главная</a></li>
            <li><a href="./bans.html" class="lang" key="bans" <% if(htmlWebpackPlugin.options.title == 'Bans'){ %> id="active" <% } %>>Баны</a></li>
            <li><a href="./monitor.html" class="lang" key="monitor" <% if(htmlWebpackPlugin.options.title == 'Monitor'){ %> id="active" <% } %>>Состав</a></li>
            <li><a href="./manifest.html" class="lang" key="manifest" <% if(htmlWebpackPlugin.options.title == 'Manifest'){ %> id="active" <% } %>>Манифест</a></li>
            <li><a href="#" class="lang" key="wiki">Вики</a></li>
        </ul>
        </div>
    </div>
    <div class="content-wrapper">
         <div class="content">
            <div class="stripes stripes-top">&nbsp;</div>

            <div class="stripes stripes-bottom" id="bottom">&nbsp;</div>
        </div>
    </div>

</body>

</html>