/* CONTENT WRAPPER */

.content-wrapper {
    margin-top: 200px;
}

.content {
    width: 100%;
    height: 800px;
    position: relative;
    /* background-color: rgb(30, 30, 30); */
    background-image: url("../assets/noise.png");
}

.stripes {
    width: 100%;
    height: 25px;
    position: absolute;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.2) 20px
    ),
    url("../assets/noise.png");
}

.stripes-bottom {
    bottom: 20px;
}

.stripes-top {
    top: 20px;
}


/* HEADER WRAPPER */
.header-wrapper {
    z-index: -1;
    left: 0;
    position: absolute;
    height: 400px;
    top: 0;
    width: 100%;
    background-image: url('../assets/layer1.jpg');
    background-position: 0 20%;
}

/* MAIN STYLING */
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}
li {
    display: inline;
}
li a {
    font-size: 0.7em;
    padding: 15px 17px;
    width: 70px;
    text-decoration: none;
    color: rgb(220, 220, 220);
    text-shadow: 1px 1px 2px black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#active {
    background-image: url("../assets/noise.png");
    text-shadow: none;
}

.translate {
    width: 30px;
}
#cat {
    float: right;
    height: 100px;
    position: relative;
    top: -70px;
}
