.server-icon {
    width: 100px;
    margin: 30px 40px;
    background-image: url("../assets/fas/server.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.offline {
    background-image: url("../assets/fas/server-offline.svg") !important;
}
.lesser-manifest-table {
    width: 20%;
    min-width: 170px;
}
.lesser-manifest-container {
    display: flex;
    justify-content: center;
}
.lesser-manifest-table td {
    display: block;
}
